<div class="content mt-4 mb-5">
        <h2> Apresentacoes </h2>
    
        <div class="card mt-4 border-success" *ngFor="let apre of apresentacoes" >
            <div class="card-body text-success">
                <h3> Nome grupo: {{ apre.nome_grupo }} </h3>
                <h4> Código apresentação: {{ apre.cod_apresentacao }} </h4>
                <h4> Localização: {{ apre.local }}</h4>
                <h4> Data: {{ apre.data }}</h4>
                <h4> Horario: {{ apre.horario }}</h4>
            </div>
        </div>
    </div>
    