<div class="content mt-4">
    <h2> Professores </h2>

    <!-- <form action="">
        <div class="form-row">
            <div class="form-group col">
                <label for="exampleFormControlSelect1"> Selecione a Unidade </label>
                <select class="form-control" (change)="filterProfessor()" [(ngModel)]="unity" [ngModelOptions]="{standalone: true}" >
                    <option value=""> Todas as unidades </option>
                    <option *ngFor="let unity of unidades" [value]="unity.cod" > {{ unity.nome }} </option> <!-- MUDAR O NOME 
                </select>
            </div>
        </div>
    </form> -->
    <div class="card-columns">
        <div class="card border-primary" *ngFor="let professor of professores">
            <div class="card-header">
               <h4> {{ professor.nome }} </h4> 
            </div>
            <div class="card-body text-danger">
                <h5 class="card-title"> Informações </h5>
                <table class='table text-primary'>
                    <tr>
                        <th> CPF </th>
                        <td> {{ professor.cpf }}</td>
                    </tr>
                    <tr>
                        <th> PIS </th>
                        <td> {{ professor.pis }}</td>
                    </tr>
                    <tr>
                        <th> Data de nascimento </th>
                        <td> {{ professor.dob }}</td>
                    </tr>
                    <tr>
                        <th> Sexo </th>
                        <td> {{ professor.sexo == 'm' ? 'Masculino' : 'Feminino' }}</td>
                    </tr>
                    <tr>
                        <th> CEP </th>
                        <td> {{ professor.cep }}</td>
                    </tr>
                    <tr>
                        <th> Número </th>
                        <td> {{ professor.numero }}</td>
                    </tr>
                    <tr *ngIf="professor.complemento != ''" >
                        <th> Complemento </th>
                        <td> {{ professor.complemento }}</td>
                    </tr>
                    <tr>
                        <th> E-mail </th>
                        <td> {{ professor.email }}</td>
                    </tr>
                    <tr *ngFor="let phone of professor.telefones.split(','); let i = index">
                        <th> Telefone {{ i + 1}} </th>
                        <td> {{ phone }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
